<!DOCTYPE html>
<html lang="en">

<head>
  <title>Profile</title>
</head>

<body>
  <h1>Welcome <%= user.name %>
  </h1>
  <h2>Email- <%= user.email %>
  </h2>
  <ul>
    <% user.skills.forEach((skill)=>{ %>
      <li>
        <%= skill %>
      </li>
      <% }) %>

  </ul>
</body>

</html>